<div class="container">
    <h1>User list</h1>
    <table class="table">
        <tr>
            <th>Username</th>
            <th>E-mail</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td><a class="btn btn-xs btn-primary" href="/users/{{ user.id }}/edit">Edit</a></td>
        </tr>
    </table>
</div>
