<div class="container">
    <h1>Edit user details</h1>
    <div class="col-md-6 col-md-offset-3">
        <form [formGroup]="userForm" class="form" (submit)="onSubmit()">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input id="email" class="form-control" name="email" formControlName="email">
            </div>
            <div class="form-group">
                <label for="firstName">First name</label>
                <input id="firstName" class="form-control" name="firstName" formControlName="firstName">
            </div>
            <div class="form-group">
                <label for="lastName">Last name</label>
                <input id="lastName" class="form-control" name="lastName" formControlName="lastName">
            </div>
            <button type="submit" md-raised-button>Save</button>
            <button id="cancel" md-raised-button (click)="cancel()">Cancel</button>
        </form>

    </div>
</div>
