@import "~@angular/material/theming";
// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin app-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  #main-toolbar {
    background-color: mat-color($primary);
    color: #fff;
  }

  ul {
    li {
      a {
        color: #000;
      }
      a:hover {
        background-color: #f4f4f4;
        color: mat-color($primary);
      }
    }
  }
}
