<md-sidenav-container class="example-container">

    <md-sidenav #sidenav class="example-sidenav">
        <nav>
            <div id="user-panel">
                <div id="user-icon">
                    <md-icon>person</md-icon>
                </div>
                <div id="user-data">
                    <div>{{ auth.user().firstName }} {{ auth.user().lastName }}</div>
                    <div>{{ auth.user().email }}</div>
                </div>
            </div>
            <ul>
                <li><a href="#" routerLink="chuckNorris" (click)="sidenav.close()">101 Chuck Norris Facts</a></li>
                <li><a href="#" routerLink="users" (click)="sidenav.close()">Users</a></li>
            </ul>
        </nav>
    </md-sidenav>

    <div class="example-sidenav-content">
        <md-toolbar id="main-toolbar">
            <button md-button (click)="auth.isAuthenticated() && sidenav.open()"><md-icon>menu</md-icon></button>
            <span>Spring + Angular Example</span>

            <!-- This fills the remaining space of the current row -->
            <span class="example-fill-remaining-space"></span>

            <span *ngIf="!auth.isAuthenticated()"><button md-button routerLink="login">Log In</button></span>
            <span *ngIf=" auth.isAuthenticated()"><button md-button (click)="auth.logout()">Log Out</button></span>
        </md-toolbar>

        <router-outlet></router-outlet>

    </div>
</md-sidenav-container>
